<h1>Welcome to Scrabble score</h1>
<form action="/result">
  <div class="form-group">
     <label for="scrabble">Enter a word and see its Scramble score</label>
     <input id="scrabble" name="scrabble" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">See score!</button>
</form>
